<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div th:replace="topBar :: topBar"></div>

<!-- Video Section -->
<div class="videoPlayerDiv">
    <video id="mainVideo" width="716" height="360" controls="controls" preload="none" autoplay="autoplay">
        <source id="vidSrc" type="video/mp4">
        <!-- th:src="${'/video/' + movie.video}" -->
        <!-- Media Source Extensions!!!!!!!! -->
    </video>
</div>

<!-- Suggestions section -->

</body>
<script th:inline="javascript">
    console.log("23");
</script>
<script th:inline="javascript">


    //temp
    let movie = /*[[${movie}]]*/ [];
    console.log(movie);
    console.log(movie.video);
    let fragTime = 2000; //millis
    let LOAD_BEHIND = 30; //seconds
    let LOAD_AHEAD = 30; //seconds
    console.log("1");


    // -------------------------------- Global Vars --------------------------------


    let videoElement = document.getElementById("mainVideo");
    let srcBuffer = null;
    let loadedFrags = [];
    let bufferQueue = []
    const sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));
    let fragmentReady = false;


    // ------------------------------------ Main ------------------------------------

    main()
    async function main(){

        //browser does not support MediaSource
        if(window.MediaSource){
            //TODO error
        }

        await setupPlayer();
        await getInitData();
        fragmentReady = true;
        processQueue();
    }
    //set playback time
    videoElement.currentTime = movie.lastTimeWatchedPos;


    // ----------------------------- Setup Video Player -----------------------------


    async function setupPlayer(){

        //create media source
        let mediaPlayer = new MediaSource();
        videoElement.src = URL.createObjectURL(mediaPlayer);
        let srcBufferReady = false;
        mediaPlayer.addEventListener('sourceopen', function (){

            let mime = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';
            srcBuffer = mediaPlayer.addSourceBuffer(mime);
            srcBuffer.mode = "segments";
            srcBufferReady = true;

        });
        while(!srcBufferReady){
            await sleep(20);
        }
    }


    // ----------------------------- Get Video Init Data -----------------------------


    async function getInitData(){
        await waitForSrcBuffer();
        await fetch("/video/" + movie.video + "/getInitData", {
            method: 'POST',
        }).then(response => response.arrayBuffer()).then(buffer => {
            srcBuffer.appendBuffer(buffer);
        });
    }


    // ------------------------------- Get Fragments -------------------------------


    setInterval(async function(){

        if(fragmentReady) {

            let fragmentLoadBehind = Math.ceil((LOAD_BEHIND * 1000) / fragTime);
            let fragmentLoadAhead = Math.ceil((LOAD_AHEAD * 1000) / fragTime);
            let fragmentPos = Math.floor(videoElement.currentTime / (fragTime / 1000));
            let loadFragmentLow = Math.max(fragmentPos - fragmentLoadBehind, 0);
            let loadFragmentHigh = fragmentPos + fragmentLoadAhead;

            let unloadFragmentLow = Math.max(fragmentPos - (fragmentLoadBehind * 2), 0);
            //removeFragmentsFromLoadedFrags(unloadFragmentLow);

            for (let i = loadFragmentLow; i < loadFragmentHigh; i++) {

                if (!checkIfFragmentLoaded(i) && !checkIfFragmentInQueue(i)) {

                    console.log("here3");
                    getFragFromServer(i);

                }
            }


        }

    }, 50);


    async function getFragFromServer(fragNum){

        //TODO try catch

        //init data
        let data = { num: fragNum };

        //create request
        const response = await fetch("/video/" + movie.video + "/getChunk", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        bufferQueue.push([fragNum, await response.arrayBuffer()]);
        console.log("applied chunk " + fragNum);

    }



    // ------------------------------- Buffer Queue -------------------------------


    async function processQueue(){

        while(true){
            try{

                //wait for src buffer to be ready
                await waitForSrcBuffer();

                if(bufferQueue.length !== 0){

                    srcBuffer.appendBuffer(bufferQueue.at(0).at(1));
                    loadedFrags.push(bufferQueue.at(0).at(0));
                    bufferQueue.shift();
                    await waitForSrcBuffer();

                    let unloadBefore = Math.max(videoElement.currentTime - (LOAD_BEHIND * 2));
                    //if(unloadBefore > 0)
                        //srcBuffer.remove(0, unloadBefore);
                }
                else{
                    await sleep(20);
                }

            }

            //ignore errors and try to continue
            catch (e){
                console.log(e);
            }
        }
    }



    // ---------------------------- Send Current Video Pos ----------------------------


    setInterval(async function () {

        let data = { elapsed: Math.floor(videoElement.currentTime) };

        if(fragmentReady) {

            //create request
            await fetch("/movie/" + movie.id + "/watchTime", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            });
        }
    }, 5000);


    // ------------------------------- Helper Functions -------------------------------


    //wait for src buffer to finish updating
    async function waitForSrcBuffer(){
        while(srcBuffer.updating){
            await sleep(20);
        }
    }


    function checkIfFragmentLoaded(fragNum){

        for(let i = 0; i < loadedFrags.length; i++){
            if(loadedFrags.at(i) === fragNum){
                return true;
            }
        }

        return false;
    }


    function checkIfFragmentInQueue(fragNum){

        let bufferQueueTemp = bufferQueue

        for(let i = 0; i < bufferQueueTemp.length; i++){
            if(bufferQueueTemp.at(i).at(0) === fragNum){
                return true;
            }
        }

        return false;
    }


    function removeFragmentsFromLoadedFrags(max){

        if(max === 0)
            return;

        let loadedFragsTemp = []

        for(let i = 0; i < loadedFrags; i++){
            if(loadedFrags.at(i) > max){
                loadedFragsTemp.push(loadedFrags.at(i))
            }
        }

        loadedFrags = loadedFragsTemp;
    }



</script>
</html>