<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>temp</title>
    <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
<div th:replace="topBar :: topBar"></div>
<div th:each="media, status : ${finds}">

    <div th:if='${media.type.equals("movie")}' class="mediaDisplayInTable">
        <a th:href="${'/movie/' + media.id}" >
            <img th:src="${'/movie/' + movie.id + '/image'}" th:alt="${media.title + ' thumbnail'}" class="mediaDisplayImage" th:data-movie-id="${media.id}" onload="loadImage(this)">
            <h5 th:text="${media.title}" class="mediaDisplayText"></h5>
        </a>
    </div>
    <div th:if='${media.type.equals("show")}' class="mediaDisplayInTable">
        <a th:href="${'/series/' + media.id}" >
            <img th:src="${'/series/' + media.id + '/image'}" th:alt="${media.title + ' thumbnail'}" class="mediaDisplayImage" th:data-movie-id="${media.id}" onload="loadImage(this)">
            <h5 th:text="${media.title}" class="mediaDisplayText"></h5>
        </a>
    </div>

</div>
</body>

<script th:inline="javascript">console.log("something");</script>
<script th:inline="javascript">

    let list = /*[[${allMovieLists}]]*/ [];
    console.log(list);




</script>


</html>