html{
    background: rgb(42, 42, 42);
    scrollbar-color: rgb(128, 128, 128) rgb(42, 42, 42);
}


/* Media Box */
div.suggestionSlider{
    display: block;
    height: 55vh;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 5vh;
    scrollbar-color: rgb(128, 128, 128) rgb(42, 42, 42);
}

/* Media Table */
div.suggestionSlider table{
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    table-layout: fixed;
    padding: 0;
}


/* Media Table Row */
div.suggestionSlider table tr{
    display: block;
    overflow: hidden;
    width: 355vw;
    height: 100%;
    white-space: nowrap;
}


/* Media Table Sections */
div.suggestionSlider table tr td{
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 35vh;
    height: 100%;
    white-space: nowrap;
    outline: 5px solid black;
    min-width: 150px;
}

div.mediaDisplayInTable{
    display: block;
    width: 100%;
    height: 55vh;
    min-width: 150px;
    position: relative;
    overflow: hidden;
    background: aqua;
}

/* media Display Image */
img.mediaDisplayImage{
    padding: 0;
    display: block;
    width: 100%;
    height: 102%;
    object-fit: cover;
    object-position: center;
    position: relative;
    bottom: 1vh;
}


div.mediaDisplayText{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.7);
    width: 35vh;
    top: 10vh;
    min-width: 150px;
}

/* Media Display Text */
h5.mediaDisplayText{
    position: absolute;
    top: 72%;
    object-position: center;
    text-align: center;
    height: 16%;
    width: 100%;
    overflow: hidden;
    font-size: clamp(14px, 4vh, 4vh);
    background-color: rgba(128, 128, 128, 0.7);
    color: rgba(0, 0, 0, 0.9);
}


div.listName{
    position: relative;
    bottom: 6vh;
    display: block;
    height: 3vh;
    padding: 0;
}

h5.listName{
    font-size: clamp(14px, 6.5vh, 6.5vh);
    color: rgb(255, 255, 255);
    object-position: center;
}

/* ----------------------------- Top Bar ------------------------------- */

div.topBar{
    display: block;
    position: sticky;
    width: 100vw;
    height: 7vh;
    background: greenyellow;
    z-index: 100;
    padding: 0;
    top: 0;
    margin: 0;
}


table.topBarTable{
    position: sticky;
    display: block;
    width: 100%;
    height: 7vh;
    white-space: nowrap;
    table-layout: fixed;
    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
    background: brown;
}

table.topBarTable tr{
    display: flex;
    justify-content: flex-end;
    #overflow: hidden;
    height: 100%;
    width: 100vw;
    outline: 5px solid orange;
    white-space: nowrap;
    z-index: 100;
    top: 0;
}

/*
td.topBarFreeSpace{
    background: blueviolet;
    display: block;
    width: 60%;
    height: 7vh;
    position: relative;
    white-space: nowrap;
}

div.topBarFreeSpace{
    display: block;
    width: 100%;
    height: 100%;
}
 */


td.topBarAddMovie{
    width: 12%;
    height: 7vh;
    background: coral;
}

div.topBarAddMovie{
    width: 100%;
    height: 100%;
}

a.topBarAddMovie{
    text-decoration: none;
}

h3.topBarAddMovie{
    color: white;
    width: 100%;
    height: 3vh;
    margin-left: 1.1vw;
    font-size: 2.25vh;
}


td.topBarSearch{
    display: block;
    width: 30%;
    height: 7vh;
    background: darkgoldenrod;
    position: relative;
    white-space: nowrap;
}

div.topBarSearch{
    display: block;
    width: 100%;
    height: 100%;
}

div.topBarSearch input{
    width: 100%;
    height: 70%;
    margin-top: 1.05vh;
    background: rgb(31, 31, 31);
    outline: 1vh black;
    font-size: 3vh;
    color: white;
}

td.topBarSetting{
    display: block;
    position: relative;
    background: crimson;
    height: 7vh;
    width: 10vh;
    white-space: nowrap;
}

div.topBarSetting{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;

}

/* ----------------------------- Hide Vertical Scroll Bar ------------------------------- */

html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* ----------------------------- Video Player ------------------------------- */

div.videoPlayerDiv{
    background: burlywood;
    display: block;
    width: 90vw;
    height: 60vh;
    object-position: center;
}


div.videoPlayerDiv video{
    display: block;
    height: 100%;
    width: 100%;
    background: chartreuse;
}

/* ----------------------------- Upload Movie ------------------------------- */

div.uplaodMovie{
    display: block;
    background-color: deeppink;
    width: 100vw;
    height: 100vh;
}


table.movieInputTable{
    width: 100%;
    background-color: cornflowerblue;
}


div.mediaUploadShowcase{
    width: 100%;
    height: 58vh;

}


div.mediaUploadShowcaseDisplay{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 2vh;
    width: 35vh;
    height: 55vh;
    background-color: darkgoldenrod;
    overflow: hidden;
}


div.uploadProgressBarOuter{
    width: 100%;
    height: 2vh;
    background-color: gray;
}


div.uploadProgressBarInner{
    width: 0;
    height: 100%;
    background-color: greenyellow;
}



