<!DOCTYPE html>
  <div class="topBar" th:fragment="topBar">
      <table class="topBarTable">

        <tr>
          <td class="topBarHome">
            <div class="topBarHome">
              <a href="/" class="topBarHome">
                <p class="topBarHome">📺</p>
              </a>
            </div>
          </td>
          <!--
          <td class="topBarFreeSpace">
            <div class="topBarFreeSpace"></div>
          </td>
          -->
          <td class="topBarAddMovie">
            <div class="topBarAddMovie">
              <a href="/uploadMovie" class="topBarAddMovie">
                <p class="topBarAddMovie">Upload Movie</p>
              </a>
            </div>
          </td>
          <!-- Search Bar -->
          <td class="topBarSearch">
            <div class="topBarSearch">
              <!--<label>Search Media</label>-->
              <input type="search" placeholder="Search Media" id="topBarSearch">
            </div>
          </td>
          <td class="topBarSetting">
            <div class="topBarSetting">
            </div>
          </td>
        </tr>

    </table>
    <script>

      topBarSearch = document.getElementById("topBarSearch");
      topBarSearch.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
          window.location.href = "/search?q=" + topBarSearch.value;
        }
      });

    </script>

  </div>
