<!DOCTYPE html>
  <div class="topBar" th:fragment="topBar">
      <table class="topBarTable">

        <tr>
          <!--
          <td class="topBarFreeSpace">
            <div class="topBarFreeSpace"></div>
          </td>
          -->
          <td class="topBarSearch">
            <div class="topBarSearch">
              <label>
                <input type="search">
              </label>
            </div>
          </td>
          <td class="topBarSetting">
            <div class="topBarSetting"></div>
          </td>
        </tr>

    </table>

  </div>
