<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Movie</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div th:replace="topBar :: topBar"></div>
<div class="uplaodMovie">

    <table class="movieInputTable">

        <!-- Display Media Thumbnail Preview -->
        <div class="mediaUploadShowcase">
            <div class="mediaUploadShowcaseDisplay">
                <img src="thumbnail/1" alt="what" class="mediaDisplayImage" id="displayImage">
                <h5 class="mediaDisplayText" id="mediaDisplayText">Movie Title</h5>
            </div>
        </div>


        <!-- choose a movie video -->
        <tr>
            <td>
                <h5>Choose a Movie Video</h5>
            </td>
            <td>
                <div class="chooseVideoFileDiv">
                    <input type="file" id="videoUpload" accept="video/mp4" onchange="checkVideoReady()">
                </div>
            </td>
        </tr>

        <!-- choose a movie Thumbnail -->
        <tr>
            <td>
                <h5>Choose a movie thumbnail</h5>
            </td>
            <td>
                <div class="chooseImageFileDiv">
                    <input type="file" id="imageUpload" accept="image/png, image/jpeg" onchange="checkImageReady()">
                </div>
            </td>
        </tr>

        <!-- choose a Title -->
        <tr>
            <td>
                <h5>Enter Movie Title</h5>
            </td>
            <td>
                <div class="titleInputDiv">
                    <!-- TODO make maxlength config dependant -->
                    <input type="text" maxlength="50" minlength="1" id="title" onchange="checkTitleReady()">
                </div>
            </td>
        </tr>

        <!-- choose a Genre -->
        <tr>
            <td>
                <h5>Choose Genre</h5>
            </td>
            <td>
                <div class="genreInputDiv">
                    <input id="genre" onchange="checkGenreReady()">
                </div>
            </td>
        </tr>

        <!-- Submit Button -->
        <tr>
            <td>
            </td>
            <td>
                <input type="button" id="submit" disabled content="Submit">
            </td>
        </tr>
    </table>
    <br>
    <div>
        <h4>    Upload Progress</h4>
        <div class="uploadProgressBarOuter">
            <div id="videoUploadProgress1" class="uploadProgressBarInner">

            </div>
        </div>
    </div>
    <br>
    <div>
        <h4>    Video Processing Progress</h4>
        <div class="uploadProgressBarOuter">
            <div id="videoUploadProgress2" class="uploadProgressBarInner">

            </div>
        </div>
    </div>
</div>


</body>
<script th:inline="javascript">

    const chunkSize = 8192; //TODO make config value
    const MAX_IMAGE_SIZE = 400000000; //TODO make config value
    const UPLOAD_CHUNK_RETRYS = 5;
    const sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));

    //all upload elements
    videoFileElement = document.getElementById("videoUpload");
    imageFileElement = document.getElementById("imageUpload");
    titleElement = document.getElementById("title");
    genreElement = document.getElementById("genre");

    //add event listeners
    videoFileElement.addEventListener("change", checkVideoReady);
    imageFileElement.addEventListener("change", checkImageReady);
    titleElement.addEventListener("input", checkTitleReady);
    genreElement.addEventListener("input", checkGenreReady);
    document.getElementById("submit").addEventListener("click", submitVideo);


    let videoFileReady = false;
    let imageFileReady = false;
    let titleReady = false;
    let genreReady = false;
    let submitted = false;

    let videoFile = null;
    let imageFile = null;
    let title = null;
    let genre = null;

    function checkVideoReady(){

        videoFile = videoFileElement.files[0];

        //TODO video file check

        videoFileReady = true;

    }

    function checkImageReady(){

        imageFile = imageFileElement.files[0];
        if(imageFile.size > MAX_IMAGE_SIZE){
            //TODO Error
            return;
        }
        document.getElementById("displayImage").src = imageBytesToURL(imageFile);
        //console.log(imageFile);

        imageFileReady = true;

    }

    function checkTitleReady(){

        let tempTitle = titleElement.value;
        document.getElementById("mediaDisplayText").textContent = tempTitle;

        //TODO make maxlength config dependant
        if(tempTitle.length >= 1 && tempTitle.length <= 50) {
            title = tempTitle;
            titleReady = true;
        }
        else
            titleReady = false;
    }

    function checkGenreReady(){

        genre = genreElement.value;
        genreReady = true;
    }


    setInterval(function () {

        if(videoFileReady && imageFileReady && titleReady && genreReady && !submitted){
            document.getElementById("submit").disabled = false;
        }
        else if(videoFileReady && imageFileReady && titleReady && genreReady && submitted){
            document.getElementById("submit").disabled = true;
        }
    }, 30);

    console.log("here60");


    // --------------------------------------------------------------------------------------------
    // ------------------------------------ send submission ---------------------------------------
    // --------------------------------------------------------------------------------------------


    //main function
    async function submitVideo() {

        console.log(videoFile.size);

        //get values about data
        const bytes = await fileToByteArray(videoFile);
        const totalSize = bytes.length;
        const chunks = Math.ceil(totalSize / chunkSize);
        const lastChunkSize = totalSize % chunkSize;

        //send create video //step 1
        let fileId = await getFileUploadId(totalSize, chunks);

        console.log(fileId);


        let nums = [...Array(chunks).keys()];
        let error = true;
        for(let i = 0; i < UPLOAD_CHUNK_RETRYS; i++) {
            nums = await sendChunks(nums, chunks, bytes, fileId);
            if(nums.length === 0) {
                error = false;
                break;
            }
            console.log("retry...")
        }

        if(error){
            //TODO could not upload chunks error
        }

        else{

            //step 3
            let vidId = await sendFinalizeVideo(chunks, fileId);
            console.log("here3");

            //step 4
            await uploadMovie(vidId);

            //step 5
            await pollServerProgress(fileId);

        }



    }
    

    //step 1
    async function getFileUploadId(totalsize, chunkCount){

        let data = { totalSize: totalsize, chunkCount: chunkCount };

        const response = await fetch("/uploadVideo", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        console.log("step 1");

        if(response.ok){
            return await response.text();
        }
        else{
            //TODO Error
        }

        return -1;
    }

    //step 2
    async function sendChunks(nums, chunkCount, bytes, fileId){

        let progressBar = document.getElementById("videoUploadProgress1");
        let promises = [];
        const lastChunkSize = bytes.length % chunkSize;

        for(let i = 0; i < nums.length; i++){

            //create promise
            let p = new Promise(async function (resolve, reject) {

                let b = bytes.slice(chunkSize * nums.at(i), (chunkSize * (nums.at(i) + 1)));

                //handle last chunk's different size
                if(nums.at(i) === chunkCount - 1){
                    b = bytes.slice(chunkSize * (chunkCount - 1), (chunkSize * (chunkCount - 1)) + lastChunkSize);
                }

                let outcome = await uploadChunk(nums.at(i), chunkCount, b, fileId);
                if (outcome[0]) {
                    resolve(outcome[1]);
                } else {
                    reject(outcome[1]);
                }
            });
            promises.push(p);

            if(i % 100 === 0){
                await Promise.allSettled(promises);
                console.log(((i / chunkCount) * 100) + "%");
                progressBar.style.width = ((i / chunkCount) * 100) + "%";
            }

        }


        //see if any errors
        await Promise.allSettled(promises);
        let errorNums = [];
        for(let i = 0; i < promises.length; i++){
            promises[i].then(
                function(val){ //success

                },
                function(val){ //error
                    console.log("error " + val);
                    errorNums.push(val);
                }
            );
        }

        return errorNums
    }


    async function uploadChunk(i, totalChunks, bytes, fileid){

        const controller = new AbortController();
        const timeoutId = setTimeout(() => {
            console.log(`[uploadChunk] Timeout for chunk ${i}`);
            controller.abort();
        }, 3000);

        let response = null;

        try {

            response = await fetch("/uploadVideo/" + fileid, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/octet-stream',
                    'x-chunk-number': i,
                    'x-total-chunk-count': totalChunks
                },
                body: bytes,
                signal: controller.signal
            });

            const responseText = await response.text();
            if (response.ok) {
                clearTimeout(timeoutId);
                //TODO update progress bar

                return [true, i];
            }

            return [false, i];
        }
        catch (error){
            clearTimeout(timeoutId);
            return[false, i];
        }

    }


    //step 3
    async function sendFinalizeVideo(chunkCount, fileid){

        //let data = { movie: movieId};

        const response = await fetch("/uploadVideo/" + fileid + "/finish/", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json',
            'x-total-chunk-count': chunkCount},
            //body: JSON.stringify(data)
        });

        console.log("step 3");
        console.log(response);

        let content = await response.text();
        console.log("here2");
        if(response.ok){
            return content;
        }
        else{
            //TODO  get needed nums
        }
        return [];

    }


    //step 4
    async function uploadMovie(video){


        const image = await fileToByteArray(imageFile);
        console.log("here4");
        let encodedImage = image.toBase64();
        console.log(typeof(image));
        console.log(encodedImage);

        let data = { title: title, genre: genre, image: encodedImage, video: video};

        console.log("here5");

        const response = await fetch("/upload/movie", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        console.log("step 4");
        console.log(response);

        let idString = await response.text();
        return Number(idString);
    }


    //step 5
    //poll ffmpeg progress
    async function pollServerProgress(fileId){

        let progressBar = document.getElementById("videoUploadProgress2");

        while(true){

            let response = await fetch("/uploadVideo/" + fileId + "/processingProgress", {
                method: 'GET'
            });

            let numString = await response.text();
            let num = Number(numString);

            progressBar.style.width = num + "%";

            if(num >= 100){
                break;
            }
            await sleep(100);
        }
    }


    //------------------------ helper functions ------------------------





    function imageBytesToURL(bytes){
        let imgBlob = new Blob([bytes], { type: 'image/jpeg'});
        return URL.createObjectURL(imgBlob);
    }


    function fileToByteArray(file) {
        return new Promise((resolve, reject) => {
            var reader = new FileReader();
            reader.readAsArrayBuffer(file);

            reader.onloadend = function (evt) {
                if (evt.target.readyState === FileReader.DONE) {
                    var arrayBuffer = evt.target.result;
                    var uint8Array = new Uint8Array(arrayBuffer);
                    resolve(uint8Array); // Return Uint8Array, not Array.from()
                }
            };

            reader.onerror = function (evt) {
                reject(evt.target.error);
            };
        });
    }


</script>
</html>